.about{
  font-family: 'Lora', serif;
  
}

.subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #fe8c00;
  margin-bottom: 10px;
  background-color: rgb(47, 47, 110);
  height: 40px;
}

.about-img{
  height: 400px;
  width: 500px;
  border-radius: 5px;
}